@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

@using FxWebAdmin
@using CitizenFX.Core.Native
@inject IdentifierHelpers IdentifierInfo
@model FxWebAdmin.IndexData

@section content
{
    <div class="container-fluid">
        <div class="row">
            <h1 class="px-3">@API.GetConvar("sv_hostname", "")</h1>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-primary">
                    <div class="card-body pb-0">
                        <div class="text-value">@API.GetNumPlayerIndices()</div>
                        <div>Players online</div>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                        <canvas class="chart" id="card-chart1" height="70"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-warning">
                    <div class="card-body pb-0">
                        <div class="text-value">@Model.ResourceCount</div>
                        <div>Resources running</div>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3" style="height:70px;"></div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-body pb-0">
                        <div class="text-value">@API.GetNumResources()</div>
                        <div>Resources loaded</div>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3" style="height:70px;"></div>
                </div>
            </div>
            <!-- entity count or so for 1s? -->
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-success">
                    <div class="card-body pb-0">
                        <div class="text-value">@Model.AverageLatency</div>
                        <div>Current avg. latency</div>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3" style="height:70px;"></div>
                </div>
            </div>
        </div>

        <cfx-plugin-outlet name="home/dashboardTop"></cfx-plugin-outlet>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Information</div>
                    <div class="card-body">
                        <dl class="row my-0">
                            @foreach (var metadataPair in Model.MetaData)
                            {
                                <dt class="col-sm-2">@metadataPair.Key</dt>
                                <dd class="col-sm-10">@metadataPair.Value</dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Players</div>
                    <div class="card-body">
                        <table class="table table-responsive-sm table-hover table-outline mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center">
                                        <i class="fa fa-user"></i>
                                    </th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Identifiers</th>
                                    <th>Ping</th>
                                    <cfx-plugin-outlet name="home/playerColumnHeadings"></cfx-plugin-outlet>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var player in BaseServer.Self.ExternalPlayers)
                                {
                                    @await FlushAsync()

                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar">
                                                <img class="img-avatar" width="48" src="@(await IdentifierInfo.FormatAvatar(player.Identifiers))">
                                            </div>
                                        </td>
                                        <td>
                                            @player.Name
                                        </td>
                                        <td class="text-center">
                                            <i class='@("flag-icon flag-icon-" + (await IdentifierInfo.FormatCountry(player.EndPoint)) + " h4 mb-0")'></i>
                                        </td>
                                        <td>
                                            <div class="text-muted">
                                                @foreach (var identifier in await IdentifierInfo.Format(player.Identifiers))
                                                {
                                                    @if (!identifier.Identifier.StartsWith("ip:") || (User?.IsInRole("webadmin.userinfo") ?? false))
                                                    {
                                                        <span class="p-1">
                                                            <a href="@identifier.Url">
                                                                <i class="@identifier.Class"></i> @identifier.Name
                                                            </a>
                                                        </span>
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <strong>@player.Ping</strong>
                                        </td>
                                        <cfx-plugin-outlet name="home/playerColumns"></cfx-plugin-outlet>
                                        <td>
                                            @if (User?.IsInRole("command.clientkick") ?? false)
                                            {
                                                <form asp-controller="Players" asp-action="Kick" method="post" style="display: inline-block;">
                                                    <input type="hidden" name="source" value="@player.Handle">
                                                    <button type="submit" class="btn btn-outline-danger">
                                                        Kick
                                                    </button>
                                                </form>
                                            }

                                            <cfx-plugin-outlet name="home/playerActions" player="@player.Handle"></cfx-plugin-outlet>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}