@{
    Layout = "_Layout";
    ViewData["Title"] = "Resources";
}

@using CitizenFX.Core.Native
@model FxWebAdmin.ResourcesData

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Resources</h1>

            <div class="card">
                <div class="card-body">
                    <table class="table table-responsive-sm table-hover table-outline mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>Resource</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var resource in Model.GetResources().OrderBy(a => a))
                            {
                                <tr class='@(API.GetResourceState(resource) == "started" ? "table-info" : "")'>
                                    <td>
                                        <strong>@resource</strong>
                                        @if (Model.GetMetadata(resource, "version").Any())
                                        {
                                            <em>(@Model.GetMetadata(resource, "version").First())</em>
                                        }
                                        @if (Model.GetMetadata(resource, "author").Any())
                                        {
                                            @("by " + Model.GetMetadata(resource, "author").First())
                                        }
                                        @if (Model.GetMetadata(resource, "description").Any())
                                        {
                                            <br>
                                            @Model.GetMetadata(resource, "description").First()
                                        }
                                    </td>
                                    <td>
                                        @if (API.GetResourceState(resource) != "started" &&
                                            ((User?.IsInRole("command.start") ?? false) || (User?.IsInRole("webadmin.resources.start") ?? false)))
                                        {
                                            <form asp-controller="Resources" asp-action="Start" method="post" style="display: inline-block;">
                                                <input type="hidden" name="resource" value="@resource">
                                                <button type="submit" class="btn btn-outline-primary">
                                                    Start
                                                </button>
                                            </form>
                                        }

                                        @if (API.GetResourceState(resource) == "started" &&
                                            ((User?.IsInRole("command.stop") ?? false) || (User?.IsInRole("webadmin.resources.stop") ?? false)))
                                        {
                                            <form asp-controller="Resources" asp-action="Stop" method="post" style="display: inline-block;">
                                                <input type="hidden" name="resource" value="@resource">
                                                <button type="submit" class="btn btn-outline-primary">
                                                    Stop
                                                </button>
                                            </form>
                                        }

                                        @if (API.GetResourceState(resource) == "started" &&
                                            ((User?.IsInRole("command.restart") ?? false) || (User?.IsInRole("webadmin.resources.restart") ?? false)))
                                        {
                                            <form asp-controller="Resources" asp-action="Restart" method="post" style="display: inline-block;">
                                                <input type="hidden" name="resource" value="@resource">
                                                <button type="submit" class="btn btn-outline-primary">
                                                    Restart
                                                </button>
                                            </form>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>